.openButton {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.card.card {
    width: 100% !important;
    max-width: 320px;
    margin: 0 auto;
}

.card img {
    height: 180px;
    object-fit: cover;
}

@media (max-width: 576px) {
    .card img {
        height: 140px;
    }
}